html {
  height: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.headline {
  text-align: center;
}
.container {
  width: 100%;
  height: 100%;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

#google-map {
  height: 100%;
  width: 100%;
}

#content {
  z-index: 100;
  position: absolute;
}
